body{
	background-color: pink;
}

h1{
	font-size: 30px;
	color: hotpink;
	max-width: 800px;
}
h2{
	font-size: 50px;
	color: indianred;
}
.big{
	font-size: 80px;
}

.fat{
	color: green;
}

.uppercase{
	text-transform: uppercase;
}

.fat.uppercase{
	color: navy;
	text-align: center;
}
h1 span{
	color: green;
}
